<ion-view title="Performer" ng-model="performer">
  <ion-content class="has-header">
    <img class="performer_profile_image" src="{{performer.image}}" />
    <h1 class="performer_name">{{performer.name}}</h1>
    <h3 class="performer_tagline">{{performer.tagline}}</h3>
    <ion-list class="performer_page_list">
      <ion-item>
        Check in
      </ion-item>
      <ion-item>
        Request a song
      </ion-item>
      <ion-item>
        Now playing
      </ion-item>
      <ion-item>
        Message
      </ion-item>
      <ion-item>
        Past events
      </ion-item>
    </ion-list>
  </ion-content>
  <div ng-include="'templates/tabs.html'"></div>
</ion-view>
